# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/out/
/target/
/Week1/intro/out
/Week2/oop1/out
/Week3/oopWithNLayeredApp/out